# Datasets
APTOS/
Retina Vessel Segmentation/
CHASE_DB1
DRIVE/
HRF/
LES-AV/
RITE/
labels-ah/
Preprocessed/


# Outputs
outputs/
stage2_masks/
final_vessel_masks/



# Python
__pycache__/
*.pyc

# Mac
.DS_Store

#Notebooks
*.ipynb
.ipynb_checkpoints/